{% extends "index.htm" %}

{% block content %}
<div class="container-fluid mt-5">
    <h2 class="text-center  mb-4">Главные мероприятия</h2>
    <div class="row justify-content-center">
        <div class="col-sm-9 scrollable-cards">
            <div class="row gy-4">
                {% for event in events %}
                <div class="col-sm-3">
                    <div class="card h-100">
                            <img src={{url_for("static",filename = event.photo)}} alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-left fw-bold">{{event.title}}</h5>
                            <p class="card-text fw-light">{{event.date_time}}</p>
                            <p class="card-text fst-italic">{{event.description}}</p>
                           <a href='{{url_for("EventById", id = event.id)}}' class="btn btn-success">Подробнее</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
